<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About</h2>
            </div>
            <div class="col-lg-8 col-lg-offset-2">
                <hr class="primary">
                <p class="lead">NomOrVom is a browser extension that adds food hygiene scores to online takeaway ordering sites.</p>
                <blockquote>Never eat from a dodgy takeaway again!</blockquote>
            <h3>Supported browsers:</h3>

            <ul>
                <li>Firefox</li>
                <li>Chrome</li>
                <li>Safari (coming soon)</li>
                <li>Microsoft Edge (coming soon once Edge supports extensions)</li>
            </ul>

            <h3>Supported takeaway sites:</h3>

            <ul>
                <li>Just-Eat</li>
                <li>Hungry House (coming very soon)</li>
            </ul>
        </div>
    </div>
</section>
