<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Contact</h2>
                <hr class="primary">
                <p>If you want to get in touch, we're on GitHub, Facebook and Twitter.</p><p>NomOrVom is fully open source, pull requests always welcome!</p>
            </div>
            <div class="col-lg-2 col-lg-offset-1 text-center">
                <a href="https://github.com/{{ site.github_username }}">
                <i class="fa fa-github fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>{{ site.github_username }}</p>
                </a>
            </div>
            <div class="col-lg-2 col-lg-offset-2 text-center">
                <a href="https://facebook.com/{{ site.facebook_username }}">
                <i class="fa fa-facebook-official fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>{{ site.facebook_username }}</p>
                </a>
            </div>
            <div class="col-lg-2 col-lg-offset-2 text-center">
                <a href="https://twitter.com/{{ site.twitter_username }}">
                <i class="fa fa-twitter fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>{{ site.twitter_username }}</p>
                </a>
            </div>
        </div>
    </div>
</section>
