#scoreFilterSlider label {
    position: absolute;
    width: 20px;
    font-size: x-small;
    margin-left: -10px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 20px;
}

#scoreFilterSlider {
    width: 70%;
    margin: auto;
}

.ui-slider-range { background: red; }

#nomorvom_config_title {
    margin-bottom: 10px;
}

#nomorvom_config_excludeNoData {
    margin-top: 20px;
}

#nomorvom_config_excludeNoData_checkbox {
    margin-left: 10px;
}

#nomorvom_hygieneScore {
    font-weight: bold;
    margin: 0px 5px;
}

#nomorvom_config {
    border: thin dashed red;
    background-color: #FFEBE6;
    font-weight: bold;
    font-size: small;
    padding: 5px 10px 5px 10px;
    margin: 5px;
}

#nomorvom {
    border: thin dashed red;
    background-color: #FFEBE6;
    font-size: small;
    padding: 5px;
    margin: 5px;
    width: 235px;
}

#nomorvom_loading {
    font-weight: bold;
    padding: 0px 5px;
}

#nomorvom_progressbar {
    width: 220px;
    height: 30px;
}