#nov-cfg {
}

    #nov-cfg .nov-cfg-inner {
        padding: 4px 10px 0px 10px;
        border: thin dashed red;
        background-color: #FFEBE6;
        font-weight: bold;
        font-size: small;
    }

    #nov-cfg p {
        line-height: 1.8em;
        margin-bottom: 6px;
    }

    #nov-cfg .nov-cfg-exclude input {
        margin-left: 6px;
        margin-top: 8px;
    }

    #nov-cfg-filter-slider {
        margin-left: 30px;
        margin-right: 30px;
        margin-top: 15px;
        margin-bottom: 10px;
    }

    #nov-cfg .nov-cfg-filter-labels { 
        display: flex;
        justify-content: space-between;
        padding-left: 5%; 
        padding-right: 5%;
    } 
 
    #nov-cfg .nov-cfg-filter-labels label { 
        font-size: large;
        margin-bottom: 2px; 
    } 
    

.nov-score {
    border: thin dashed red;
    background-color: #FFEBE6;
    font-size: small;
    padding: 5px;
    margin: 5px;
    width: 235px;
}

    .nov-score .nov-je {
    }

    .nov-score .nov-loading {
        font-weight: bold;
        padding: 0px 5px;
    }

    .nov-score .nov-progress {
        width: 220px;
        height: 30px;
    }

    .nov-score .nov-rating {
        font-weight: bold;
        margin: 0px 5px;
    }

/* Just eat styles */
.nov-cfg-je {
    padding: 16px 0;
}

.nov-cfg-hh {
    margin: 5px;
    padding: 5px 10px 5px 10px;
}

/* Hungry House styles */

